* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url(Gang.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    background-color: white;
    box-shadow: 1px 2px 3px;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    position: relative; /* Needed for dropdown positioning */
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    background-color: rgba(219, 212, 212, 0.242);
    backdrop-filter: blur(10px);
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.sidebar li {
    width: 100%;
}

.menu-btn {
    display: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 200px;
}

.dropdown-menu li {
    width: 100%;
}

.dropdown-menu a {
    padding: 10px 20px;
    color: black;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

@media (max-width: 550px) {
    .hideOnMobile {
        display: none;
    }

    .menu-btn {
        display: block;
    }
}
